# fly.toml app configuration file generated for cm-backend-daniyal-blue-pond-9890 on 2025-09-07T02:51:10+05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'cm-backend-daniyal'
primary_region = 'arn'
console_command = '/code/manage.py shell'

[build]

[deploy]
  release_command = "python /code/manage.py migrate --noinput"

[env]
  PORT = '8000'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1

[[statics]]
  guest_path = '/code/static'
  url_prefix = '/static/'
